<footer class="footer bg-light text-white mt-auto py-3">
  <div class="container text-center">
    <div class="d-flex justify-content-center">
      <a class="me-3" href="#"><img src="images/socials/facebook.svg" alt="facebook" srcset=""></a>
      <a class="me-3" href="#"><img src="images/socials/twitter.svg" alt="twitter" srcset=""></a>
      <a href="#"><img src="images/socials/instagram.svg" alt="instagram" srcset=""></a>
    </div>
    <div class="text-muted">&copy;2021. All Rights Reserved | by Maks Klimov</div>
  </div>
</footer>