<%- layout('layout/boilerplate') %>
<script src="javascripts/validation/script.js" type="module"></script>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 border border-dark border-5 box-size side-url__login side-image__right side-border-radius">
    <div class="col p-4 p-md-5 bg-white side-border-radius">
      <form action="/login" method="POST" class="validated-form d-flex flex-column justify-content-evenly h-100" novalidate>
        <h4 class="display-6 fw-bold">Welcome back</h4>
        <div>
          <p class="fs-6 text-muted">Please Log in to your account.</p>
          <div class="mb-3 position-relative">
            <label class="form-label" for="username">Name:</label>
            <div class="alert alert-primary position-absolute w-100 bottom-50" role="alert" hidden></div>
            <input class="form-control py-2" type="text" name="username" id="username" required/>
          </div>
          <div class="mb-3 position-relative">
            <label class="form-label" for="password">Password:</label>
            <div class="alert alert-primary position-absolute w-100 bottom-50" role="alert" hidden></div>
            <input class="form-control py-2" type="password" name="password" id="password" required/>
          </div>
        </div>
        <div>
          <div class="d-grid gap-2">
            <button class="btn btn-dark py-3 fw-bold" disabled>Log In</button>
          </div>
          <p class="fs-7 text-center mt-3 text-muted">New here? <a href="/register" class="card-link text-decoration-none">Create an account</a></p>
        </div>
      </form>
    </div>
    <div class="col d-none d-md-flex"></div>
  </div>
</div>
