<%- layout('layout/boilerplate') %>
<script src="javascripts/validation/script.js" type="module"></script>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 border border-dark border-5 bg-dark side-border-radius box-size">
    <main class="col p-4 p-md-5 py-md-4 bg-white side-image side-border-radius">
      <form action="/register" method="POST" id="registerForm" class="validated-form d-flex flex-column justify-content-evenly h-100" novalidate autocomplete="off" >
        <h4 class="display-6 fw-bold">Create account</h4>
        <div>
          <div class="mb-2 position-relative">
            <label class="form-label" for="username">Name:</label>
            <div class="alert alert-primary position-absolute w-100 bottom-50" role="alert" hidden></div>
            <input class="form-control py-2" type="text" name="username" id="username" placeholder="Your Login" required/>
          </div>
          <div class="mb-2 position-relative">
            <label class="form-label" for="email">Email:</label>
            <div class="alert alert-primary position-absolute w-100 bottom-50" role="alert" hidden></div>
            <input class="form-control py-2" type="email" name="email" id="email" placeholder="Example@example.com" required/>
          </div>
          <div class="mb-2 position-relative">
            <label class="form-label" for="password">Password:</label>
            <div class="alert alert-primary position-absolute w-100 bottom-50" role="alert" hidden></div>
            <input class="form-control py-2" type="password" name="password" id="password" placeholder="Your password" required/>
          </div>
        </div>
        <div>
          <div class="d-grid gap-2">
            <button id="btnRegister" class="btn btn-dark py-3 fw-bold" disabled>Sign In</button>
          </div>
          <p class="fs-7 text-center mb-0 mt-1 text-muted">Already have an account? <a href="/login" class="card-link text-decoration-none">Log in</a></p>
        </div>
      </form>
    </main>
    <div class="col d-none d-md-flex h-100 p-5 flex-column justify-content-center">
      <h4 class="display-4 fw-bold text-white">Welcome to our community</h4>
      <p class="text-white fs-5 mt-4">Create an account to find / share your best moment and get full access to the platform's features.</p>
      <div class="text-white d-flex align-items-center">
        <img src="/images/register/users.png" alt="users">
        <p class="m-0"> 1k+ property lovers joined us, now it’s your turn</p>
      </div>
    </div>
  </div>
</div>

