<%- layout('layout/boilerplate') %>
<div class="container">
  <div class="row bg-primary side-border-radius box-shadow"s>
    <div class="col-12 col-md-3 py-md-5 ps-md-4 py-2">

      <%- partial('partials/profilenav')  %> 
      
    </div>
    <main class="col-12 col-md-9 py-5 py-md-3 bg-white side-border-radius box-size">
      <h2 class="display-6 fw-bold mb-4 text-center">Create new place</h2>
      <form action="/places" method="POST" class="validated-form d-flex flex-column justify-content-evenly px-lg-5" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control py-2" type="text" name="place[title]" id="title" required/>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input class="form-control py-2" type="text" name="place[location]" id="location" required/>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="image">Upload image</label>
          <input type="file" class="form-control py-2" name="image" id="image" multiple />
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" rows="3" type="text" name="place[description]" id="description" required>
            
          </textarea>
        </div>
        <button type="submit" class="btn btn-dark btn-large py-3 px-md-5 fw-bold">Create</button>
      </form>
    </main>
  </div>
</div>