<%- layout('layout/boilerplate') %>
<script>
  const mbToken = '<%- process.env.MAPBOX_TOKEN %>'
</script>

<link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet"/>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>

<div class="container">
  <div class="row bg-primary side-border-radius box-shadow"s>
    <div class="col-12 col-md-3 py-md-5 ps-md-4 py-2">

      <%- partial('partials/profilenav')  %> 
      
    </div>
    <main class="col-12 col-md-9 py-5 py-md-3 bg-white side-border-radius">
      <h2 class="display-6 fw-bold mb-4 text-center">Create new place</h2>
      <form action="/places" method="POST" class="validated-form d-flex flex-column justify-content-evenly px-lg-5" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control py-2" type="text" name="place[title]" id="title" required/>
        </div>
        <div class="mb-3">
          <label class="form-label mb-1" for="location">Location</label>
          <div id="map" class="side-border-radius" style="width: 100%; height: 500px"></div>
          <input class="form-control py-2 visually-hidden" type="text" name="place[lng]" value="" id="lng" required/>
          <input class="form-control py-2 visually-hidden" type="text" name="place[lat]" value="" id="lat" required/>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="image">Upload image</label>
          <input type="file" class="form-control py-2" name="image" id="image" multiple />
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" rows="3" type="text" name="place[description]" id="description" required></textarea>
        </div>
        <button type="submit" class="btn btn-dark btn-large py-3 px-md-5 fw-bold">Create</button>
      </form>
    </main>
  </div>
</div>

<script src="/javascripts/mapCreate.js"></script>