<%- layout('layout/boilerplate') %>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 text-center text-md-start bg-primary side-border-radius box-shadow box-size">
    <div class="col side-url__about side-image" style="min-height: 35vh;"></div>
    <div class="col p-3 p-md-5 align-self-center">
      <h1 class="text-white display-4 mb-3 fw-bold"><strong>About</strong></h1>
      <h4 class="text-white fs-6 mb-md-5 fs-md-3">
        This project was created in order to show all the beauty of the
        Kaliningrad region mixed with your emotions while photographing. You can
        find an amazing place, capture this moment, write down your thoughts and
        share with your friends.
      </h4>
    </div>
  </div>
</div>
