<%- layout('layout/boilerplate') %>
  <div class="row rounded bg-success">
    <div class="col px-5 py-5">
      <h1 class="text-white mb-5">Explore Beautiful Places</h1>
      <h4 class="text-white mb-4">Find and share emotions</h4>
      <a class="btn btn-dark" href="/places">View places</a>
    </div>
    <div class="col-6 justify-content-evenly">
      <img class="img-fluid" src="images/home/gnome.jpg" alt="">
    </div>
  </div>