<%- layout('layout/boilerplate') %>
<div class="container">
  <div class="row bg-success side-border-radius box-shadow mb-5 box-size">
    <div class="col-6 px-5 py-5 d-flex flex-column justify-content-center">
      <h1 class="text-white mb-4">Explore Beautiful Places</h1>
      <h4 class="text-white mb-5">Find and share emotions</h4>
      <a class="btn btn-dark btn-lg" href="/places">View places</a>
    </div>
    <div class="col-6 side-url__home side-image"></div>
  </div>
</div>
