<%- layout('layout/boilerplate') %>
<div class="container">
  <div class="row bg-primary side-border-radius box-shadow box-size">
    <div class="col-6 px-5 py-5 align-self-center">
      <h1 class="text-white mb-4 display-3">
        <strong>Explore Beautiful Places</strong>
      </h1>
      <h4 class="text-white mb-5 display-6">Find and share emotions</h4>
      <a class="btn btn-dark btn-lg py-3 px-4" href="/places"
        ><strong>View places</strong></a
      >
    </div>
    <div class="col-6 side-url__home side-image"></div>
  </div>
</div>
