<%- layout('layout/boilerplate') %>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 text-center text-md-start bg-primary side-border-radius box-shadow box-size">
    <div class="col order-1 order-md-0 p-4 p-md-5 d-flex flex-column justify-content-between justify-content-md-center">
      <h1 class="text-white display-4 mb-3 fw-bold">Explore Beautiful Places</h1>
      <h4 class="text-white fs-3 mb-md-5">Find and share emotions</h4>
      <a class="btn btn-dark py-3 px-5 mt-auto mt-md-2 align-self-md-start btn-large" href="/places?page=1"><strong>View places</strong></a>
    </div>
    <div class="col order-0 order-md-1 side-url__home side-image side-border-radius" style="min-height: 35vh;"></div>
  </div>
</div>
