<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/fav_ico.svg" type="image/x-icon" />
    <!-- * Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    
    <!-- * Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.min.css" />

    <title><%= title %></title>
  </head>

  <body class="d-flex flex-column bg-light">
    <%- partial('partials/navbar') %> 
    <%- body -%> 
    <%- partial('partials/footer')%>
    <script src="javascripts/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
